///
/// @group colorpalette
/// @param {object} $palette
/// @example scss
/// .item {
///   background-color: lightest($red-palette);
/// }
/// @see palette
/// @link http://www.sitepoint.com/using-sass-build-color-palettes/ Using Sass to Build Color Palettes by Hugo Giraudel
///

@function lightest($palette) {
	@if not map-has-key($palette, "lightest") {
		@warn "'#{inspect($palette)}' doesn't seem to have a key named 'lightest'.";
	}

	@return map-get($palette, "lightest");
}

///
/// @group colorpalette
/// @param {object} $palette
/// @example scss
/// .item {
///   background-color: lighter($red-palette);
/// }
/// @see palette
/// @link http://www.sitepoint.com/using-sass-build-color-palettes/ Using Sass to Build Color Palettes by Hugo Giraudel
///

@function lighter($palette) {
	@if not map-has-key($palette, "lighter") {
		@warn "'#{inspect($palette)}' doesn't seem to have a key named 'lighter'.";
	}

	@return map-get($palette, "lighter");
}

///
/// @group colorpalette
/// @param {object} $palette
/// @example scss
/// .item {
///   background-color: light($red-palette);
/// }
/// @see palette
/// @link http://www.sitepoint.com/using-sass-build-color-palettes/ Using Sass to Build Color Palettes by Hugo Giraudel
///

@function light($palette) {
	@if not map-has-key($palette, "light") {
		@warn "'#{inspect($palette)}' doesn't seem to have a key named 'light'.";
	}

	@return map-get($palette, "light");
}

///
/// @group colorpalette
/// @param {object} $palette
/// @example scss
/// .item {
///   background-color: base($red-palette);
/// }
/// @see palette
/// @link http://www.sitepoint.com/using-sass-build-color-palettes/ Using Sass to Build Color Palettes by Hugo Giraudel
///

@function base($palette) {
	@if not map-has-key($palette, "base") {
		@warn "'#{inspect($palette)}' doesn't seem to have a key named 'base'.";
	}

	@return map-get($palette, "base");
}

///
/// @group colorpalette
/// @param {object} $palette
/// @example scss
/// .item {
///   background-color: dark($red-palette);
/// }
/// @see palette
/// @link http://www.sitepoint.com/using-sass-build-color-palettes/ Using Sass to Build Color Palettes by Hugo Giraudel
///

@function dark($palette) {
	@if not map-has-key($palette, "dark") {
		@warn "'#{inspect($palette)}' doesn't seem to have a key named 'dark'.";
	}

	@return map-get($palette, "dark");
}

///
/// @group colorpalette
/// @param {object} $palette
/// @example scss
/// .item {
///   background-color: darker($red-palette);
/// }
/// @see palette
/// @link http://www.sitepoint.com/using-sass-build-color-palettes/ Using Sass to Build Color Palettes by Hugo Giraudel
///

@function darker($palette) {
	@if not map-has-key($palette, "darker") {
		@warn "'#{inspect($palette)}' doesn't seem to have a key named 'darker'.";
	}

	@return map-get($palette, "darker");
}

///
/// @group colorpalette
/// @param {object} $palette
/// @example scss
/// .item {
///   background-color: darkest($red-palette);
/// }
/// @see palette
/// @link http://www.sitepoint.com/using-sass-build-color-palettes/ Using Sass to Build Color Palettes by Hugo Giraudel
///

@function darkest($palette) {
	@if not map-has-key($palette, "darkest") {
		@warn "'#{inspect($palette)}' doesn't seem to have a key named 'darkest'.";
	}

	@return map-get($palette, "darkest");
}