///
/// @group helpers
/// @param {string} $name
/// @example scss
/// .item {
///   @include theme($theme-name) {
///     color: $item-text;
///   }
/// }
///

@mixin theme($class, $name) {
	#{$class} {
		.theme-#{$name} &,
		&.theme-#{$name} {
			@content;
		}
	}
}