
// Global Utils
@import "utils/utils";

// Loc Vars
$color-light: #ffffff;
$color-dark: #34495e;
$color-bg: #f1f1f2;
$color-ph: #ffe0b2;

// Base
* {
	box-sizing: border-box;
}

body {
	background-color: $color-bg;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav,
.header,
.body,
.about,
.leadership,
.footer {
	@extend %clearfix;
	display: flex;
	flex: 0 0 auto;
	width: 100%;
}

.header,
.about,
.body,
.leadership,
.footer {
	flex-wrap: wrap;
}

// Nav
.nav {
	align-items: center;
	color: $color-light;
	height: 84px;
	justify-content: center;
	padding: 0 50px;
	position: fixed;
	transition: trans(background-color height, 'link');
	z-index: z('nav');

	@include breakpoint('small') {
		padding: 0 30px;
	}

	&.nav_sticky {
		background-color: rgba(black, 0.8);
		height: 44px;

		.menu {
			top: 12px;
		}
	}

	.nav-wrapper {
		align-items: center;
		display: flex;
		max-width: 900px;
		width: 100%;
	}

	.branding {
		@include sizing(199px, 16px);
		background-image: url('../src/img/branding.png');
		background-size: contain;
		flex: 0 0 auto;
	}

	ul {
		display: flex;
		flex: 1 1 auto;
		justify-content: flex-end;
		margin-right: -10px;

		@include breakpoint('nav') {
			@include fixed(top 0 right 0);
			@include sizing(0, 100%);
			background-color: rgba(0,0,0,0.8);
			display: block;
			margin: 0;
			padding: 6px 0;
			transition: trans(padding width, 'shift');

			&.state-open {
				padding: 6px 20px;
				width: 250px;
			}
		}
	}

	li {
		cursor: pointer;
		font: 400 f('body');
		opacity: 0.8;
		padding: 14px 10px;
		transition: trans(opacity, 'link');

		&:hover {
			opacity: 1;
		}

		a {
			color: $color-light;
			text-decoration: none;

			@include breakpoint('nav') {
				display: inline-block;
				width: 100%;
			}
		}
	}

	.menu {
		@include absolute(top 32px right 20px);
		@include sizing(20px);
		background-image: url('../src/img/icons/menu.svg');
		background-position: 50%;
		background-size: contain;
		cursor: pointer;
		display: none;
		transition: trans(top, 'link');
		z-index: z('above');

		@include breakpoint('nav') {
			display: block;
		}
	}
}

// Header
.header {
	background-image: url('../src/img/header.jpg');
	background-size: cover;
	color: $color-light;
	justify-content: center;
	overflow: hidden;
	padding: 170px 115px 138px;
	position: relative;

	@include breakpoint('small') {
		padding: 130px 75px 88px;
	}

	&::before {
		@include absolute(zero);
		background-color: rgba(black, 0.64);
		content: '';
		display: block;
	}

	h1, 
	h2,
	a {
		flex: 0 0 auto;
		z-index: z('above');
	}

	h1,
	h2 {
		font-weight: bold;
		margin: 0;
		text-align: center;
		width: 100%;
	}

	h1 {
		border-bottom: border(rgba($color-light, 0.4));
		font: 300 f('title');
		margin-bottom: 18px;
		padding-bottom: 21px;

		@include breakpoint('small') {
			font: 300 f('subhead');
		}
	}

	h2 {
		font: 700 f('headline');
		margin-bottom: 7px;
		text-transform: uppercase;

		@include breakpoint('small') {
			font: 700 f('title');
		}
	}

	a {
		background-color: rgba($color-light, 0.2);
		border: border($color-light);
		color: $color-light;
		cursor: pointer;
		font: f('subhead');
		margin: 37px 0 0;
		padding: 10px 30px;
		text-decoration: none;
		text-transform: uppercase;
		transition: trans(background-color color, 'link');

		&:hover {
			background-color: $color-light;
			color: $color-dark;
		}
	}

	.header-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 900px;
		width: 100%;
	}
}

.about {
	background-color: rgba(black, 1);
	color: $color-light;
	font: 300 f('title');
	justify-content: center;
	padding: 35px 50px;

	@include breakpoint('small') {
		padding: 20px 30px;
	}

	h3,
	p {
		margin: 0;
		max-width: 900px;
		width: 100%;
	}

	h3 {
		font: 300 f('title');
		margin-bottom: 20px;
	}

	p {
		font: 400 f('subhead');
		line-height: 1.4;

		+ p {
			margin-top: 10px;
		}
	}
}

// Body
.body {
	justify-content: center;
	padding: 0 50px 35px;

	@include breakpoint('small') {
		padding: 25px 30px 10px;
	}

	.body-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 900px;
		width: 100%;
	}

	.section {
		@include sizing(100%, 355px);
		display: flex;
		margin: 0;
		max-width: 900px;
		overflow: hidden;
		padding: 35px 0 0;

		@include breakpoint('small') {
			flex-wrap: wrap;
			height: auto;
			margin: 0 0 25px;
		}

		@include breakpoint('body') {
			height: auto;
		}

		&::after {
			background-color: $color-light;
			background-size: cover;
			content: '';
			flex: 1 1 auto;

			@include breakpoint('small') {
				flex: 0 0 100%;
				height: 180px;
				order: 1;
				background-position: 50%;
			}
		}

		&:nth-child(even) {
			flex-direction: row-reverse;
		}

		&.design::after {
			background-image: url('../src/img/section-design.jpg');
			background-position: 50%;
		}

		&.platform-ui::after {
			background-image: url('../src/img/section-platformui.jpg');
		}

		&.vtb::after {
			background-image: url('../src/img/section-vtb-2.jpg');
		}

		&.connect::after {
			background-image: url('../src/img/section-connect.jpg');
		}

		&.mobile::after {
			background-image: url('../src/img/section-mobile.jpg');
		}

		&.service-portal::after {
			background-image: url('../src/img/section-serviceportal.jpg');
		}

		&.people::after {
			background-image: url('../src/img/section-people.jpg');
			background-position-x: 50%;
		}
	}

	.content {
		background-color: $color-light;
		flex: 0 0 44%;
		padding: 14px 20px;

		@include breakpoint('small') {
			flex: 0 0 100%;
			order: 2;
			padding: 14px;
		}
	}

	h3,
	p {
		color: $color-dark;
		margin: 0;
	}

	h3 {
		font: f('headline');
		margin-bottom: 10px;
	}

	p {
		font: 400 f('body-alt');
		line-height: 1.3;
		margin-bottom: 18px;
	}

	a {
		font-weight: 600;
	}

	a,
	a:visited {
		color: #278efc;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.leadership {
	justify-content: center;
	padding: 0 50px 90px;
	text-align: center;

	@include breakpoint('small') {
		padding: 0 30px 50px;
	}

	&.leadership_hidden {
		ul {
			display: none;
		}

		a {
			margin-top: 27px;
		}
	}

	ul,
	.button-wrapper {
		display: flex;
		flex: 0 0 auto;
		max-width: 900px;
		width: 100%;
	}

	li {
		background-color: $color-ph;
		background-position: 50%;
		background-size: cover;
		color: white;
		display: flex;
		flex: 1 1 25%;
		flex-wrap: wrap;
		flex-direction: column;
		height: 200px;
		justify-content: flex-end;
		margin-right: 35px;
		padding: 0 0 20px;
		position: relative;
		text-align: center;

		@include breakpoint('small') {
			height: 100px;
			margin-right: 10px;
			padding: 0 5px 10px;
		}

		&:last-of-type {
			margin-right: 0;
		}

		&::before {
			@include absolute(zero);
			background-color: rgba(black, 0.4);
			content: '';
		}

		&.troy {
			background-image: url('../src/img/leadership-troy.jpg');
		}

		&.jerry {
			background-image: url('../src/img/leadership-jerry.jpg');
		}

		&.justin {
			background-image: url('../src/img/leadership-justin.jpg');
		}

		&.jordan {
			background-image: url('../src/img/leadership-jordan.jpg');
		}
	}

	span {
		flex: 0 0 auto;
		font: f('subhead');
		width: 100%;
		z-index: z('above');

		@include breakpoint('small') { 
			font: f('body');
		}

		+ span {
			font: 300 f('body');

			@include breakpoint('small') {
				display: none;
			}
		}
	}

	a {
		background-color: #2ecc71;
		border: border(#2ecc71);
		color: $color-light;
		cursor: pointer;
		font: f('title');
		margin: 37px 0 0;
		padding: 20px 100px;
		text-decoration: none;
		text-transform: uppercase;
		transition: trans(background-color color, 'link');

		@include breakpoint('small') {
			padding: 14px 60px;
		}

		&:hover {
			background-color: darken(#2ecc71, 10%);
		}
	}

	.button-wrapper {
		justify-content: center;
	}
}

.footer {
	align-items: center;
	background-color: black;
	height: 70px;
	justify-content: center;
	padding: 0 50px;

	@include breakpoint('small') {
		padding: 0 30px;
	}

	span {
		color: $color-bg;
		flex: 1 1 auto;
		font: f('body');
		opacity: 0.6;
	}

	ul {
		display: flex;
		flex: 0 0 auto;
		margin-right: -13px;

		@include breakpoint('small') {
			margin-right: -5px;
		}
	}

	li {
		@include sizing(32px);
		align-items: center;
		background-color: rgba($color-bg, 0.7);
		border-radius: 100%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin: 0 13px;
		position: relative;
		transition: trans(background-color, 'link');

		@include breakpoint('small') {
			margin: 0 5px;
		}

		&:hover {
			background-color: #fd5454;
		}

		&.twitter:hover {
			background-color: #28a9e2;
		}

		&.facebook:hover {
			background-color: #4d67a2;
		}

		&.linkedin:hover {
			background-color: #1c84bb;
		}

		&::after {
			@include absolute(top 50% left 50%);
			@include sizing(14px);
			background-position: 50%;
			background-size: contain;
			content: '';
			margin: -7px 0 0 -7px;
			pointer-events: none;
		}

		&.website::after {
			background-image: url('../src/img/icons/social-06.svg');
		}

		&.twitter::after {
			background-image: url('../src/img/icons/social-05.svg');
		}

		&.facebook::after {
			background-image: url('../src/img/icons/social-08.svg');
		}

		&.linkedin::after {
			background-image: url('../src/img/icons/social-07.svg');
		}

		a {
			@include sizing(100%);
		}
	}

	.footer-wrapper {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		max-width: 900px;
		width: 100%;
	}
}
